body {
    margin-top: 20px;
}

#endpoint_page {
    border: 1px solid #ccc;
    padding: 20px 40px;
}

#chat_control {
    margin-top: 6px;
}

#messages {
    border: 1px solid #ccc;
    background: white;
    height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#messages ul {
    list-style-type: none;
    padding: 15px 15px;
    margin-bottom: 0px;
}

.message-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 10px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 8px;
}

.message-box .timestamp {
    font-size: 75%;
    opacity: 0.5;
    text-align: right;
}

.message-box .message-content {
    margin-bottom: 5px;
}

pre {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  padding-top: 0px;
}

.green {
    color: green
}

.blue {
    color: blueviolet
}

@media screen and (min-height: 769px){
    body {
        margin-top: 30px
    }
    
    #messages {
        height: 700px
    }
}